<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Add new <%= component_type =%></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
                                            <label><%= component_type =%> name</label>
                                            <form action="/<%= component_type =%>/create" method="post">
                                             <input type="hidden" name="_token" value="<%= csrf_token =%>">
                                              <input class="form-control" type='text' name='name'>
                                            <p class="help-block"><i>example: namePage, pagenameTemplate</i></p>
                                        </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary">Create</button>
			</div>
		</div>
	</div>
</div>